*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #090a0e;
  color: #fff;
}

.container{
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  /* display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
}
.movie-card{
  width: 250px;
  margin: 10px;
  border-radius: 5px;
  position: relative;
}
.movie-cover{
  width: 100%;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper{
  padding: 10px 150px;
}
.hero{
  min-height: 500px;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;
}
.hero-title{
  font-size: 70px;
}

.trailer-btn{
  background-color: #920404;
  color: #fff;
  border: 1px solid #fff;
  outline: none;
  padding: 10px 20px;
  border-radius:  5px;
  cursor: pointer;
  
}
input[type="text"]{
  outline: none;
  padding: 5px;
}
.btn-primary{
  background-color: #920404;
  padding: 7px 10px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.nav-link{
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: flex-end;
  
}

.light{
  background-color: #fff;
  color: #000;
}
.dark{
    background-color: #090a0e;
  color: #fff;
}

.btn{
  padding: 0 20px;
}

.rating{
  background-color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 100%;
  border: 2px solid  rgb(0, 246, 37);
  position: absolute;
  z-index: 1;
  bottom: 20px;
  right: 0;
  color: #fff;
}
/* 
mobile view */
@media(max-width: 768px){
  header{
  display: flex;
  text-align: center;
  flex-direction: column;

}
.wrapper{
  padding: 20px 50px;
}
.hero-title{
  font-size: 40px;
}
}